target/
work*/

# IntelliJ project files
*.iml
*.ipr
*.iws
.idea/

# eclipse project file
.settings
.classpath
.project
build/

# VS Code
.vscode/

# maven-release-plugin
pom.xml.releaseBackup
release.properties
